<launch>
  <param
    name="robot_description"
    textfile="$(find lsrx_rm75_dual_description)/urdf/LSRX_RM75_DUAL.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz" />
</launch>
